  .products {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 100%;
    height: auto;
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
  }
  
  .product img {
    border-radius: 2rem;
    max-width: 100%;
  }
  
 .description {
    font-size: 1.2rem;
    color: #726446;
    text-align: center;
  }
  .description p{
    margin-bottom: -2px;
  }
  
  .product:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid #b39d6f;
    min-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: #b39d6f;
    color: white;
    cursor: pointer;
  }
  .filter{
    display: flex;
    justify-content: flex-start;
    margin-top: 2rem;
    margin-right: 2rem;
  }
  .sort, .category{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #b39d6f;
  }
.select-sort, .category-sort{
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #b39d6f;
  border: 2px solid #b39d6f;
  border-radius: 2rem;
}
.ad{
  height: 2rem;
  width: auto;
  background-color: beige;
  display: flex;
  justify-content: center;
} 
.ad p{
  font-size: 1.5rem;
}
  @media (max-width: 768px) {
    .products {
      grid-template-columns: 1fr; 
      gap:150px;
    }
  
    .product {
      margin: 10px; 
    }
    .product:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  
    .addToCartBttn {
      min-width: 80px; 
    }
    .hero-banner{
      display: none;
    }
   .filter{
      display: flex;
      flex-direction: column;
    }
  }
  @media (max-width: 500px) {
    .products {
      grid-template-columns: 1fr; 
      gap:150px;
    }
  
    .product {
      margin: 10px; 
    }
    .product:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  
    .addToCartBttn {
      min-width: 80px; 
    }
    .hero-banner{
      display: none;
    }
  }
  @media (min-width: 769px) {
    .products {
      grid-template-columns: 1fr 1fr; 
    }
  
    .product {
      margin: 20px; 
    }
  
    .addToCartBttn {
      min-width: 120px; 
    }
  }
  @media (min-width: 900px) {
    .products {
      grid-template-columns: 1fr 1fr 1fr; 
    }
  
    .product {
      width: 250px; 
      height: 320px; 
      margin: 30px; 
    }
    .hero-banner{
      width: 100%;
    }
  
    .addToCartBttn {
      min-width: 120px; 
    }
  }
  @media (min-width: 1200px) {
    .products {
      grid-template-columns: 1fr 1fr 1fr 1fr; 
      gap: 50px;
    }
  
    .product {
      width: 250px; 
      height: 320px; 
      margin: 30px; 
    }
  
    .addToCartBttn {
      min-width: 120px; 
    }
  }
  @media (min-width:1200px)and (max-width: 1360px) {
  .hero-banner{
    display: none;
    }
    
  }
  @media (min-width:900px)and (max-width: 1050px) {
    .hero-banner{
      display:none
      }
    }

