.navbar {
    width: 100vw;
    height: 90px;
    background-color: #b39d6f;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title{
    margin-left: 2rem;
    font-size: 3rem;
  }
  
  .links {
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    gap:20px;
  }
  .links a:hover{
    cursor: pointer;
  }
  
  .links a {
    margin-left: 1rem;
    text-decoration: none;
    color: azure;
    font-size: 30px;
  }
 
  @media (max-width: 768px) {
    .navbar{
      height: auto;
    }
    .title {
      margin-left: 1rem;
      font-size: 2rem;
    }
  }
  @media (max-width: 429px) {
    .navbar{
      height: auto;
      display: flex;
      justify-content: space-evenly;
    }
    .title {
      display: none;
    }
  }

  @media (min-width:1200px)and (max-width: 1360px) {
    .navbar{
      height: auto;
       width: 87rem;
      }
    }
    @media (min-width:900px)and (max-width: 1050px) {
      .navbar{
        height: auto;
         width: 66rem;
        }
      }
  